*{
    margin : 0;
    padding: 0;
}

body{
    background-color: #188aff;
}
.up{
    
    margin: 10px auto;
    justify-content: space-between;
    width:400px;
    border-radius: 25%;
    z-index:1;
}
.hod
{
    margin: 5px auto;
    display: flex;
    justify-content: center;
}

#content{
    
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}

.tp , .tq{
    display:flex;
    justify-content: space-between;
}

.dt
{
    color:#21252994;
    position:absolute;
    top:5x;
    right:5px;
    font-size: 12px;
}

.delete {
    border-radius: 20%;
    padding:5px;
    margin:2px;
}

.delete:hover {
    cursor : pointer;
    color: #000066;
    background-color: grey;
    box-shadow: 1px 2px 5px rgba(0,0,0,2);
}

.card {

    margin-bottom: 20px;
}

.card-img-top{
    width:350px;
    height:350px;
}
